<h1><%= @doctor.name %> Appointments</h1>

<% @doctor.appointments.each do |app| %>

  <%= link_to app.patient.name, patient_path() %>
  <%= app.appointment_datetime.strftime("%B %d, %Y at %k:%M"), appointment_path(appointment) %><br>
  <% binding.pry %>
<% end %>
